.Rproj.user
.Rhistory
.Ruserdata
/tests/
/vignettes/warpDE_cache/
/vignettes/warpDE_files/
/vignettes/images

# remove the unfiltered data (very heavy)
data/OE_counts_unfiltered.RData
tests/build_exampleData4warpDE.R


